
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.infoLinks {
    display: block;
}

.infoWindowContent {
    float: left;
}

.infoWindowTitle {
    color: #D3F2E7;
    text-decoration: solid;
    font-size: 16px;
    text-align: center;
}

.mainContentDiv {
    width: 200px;
}

.consumerImage {
    padding-left: 5px;
    padding-top: 5px;
}

.infobox-wrapper {
    display: none;
}

#infobox {
    border: 2px solid black;
    margin-top: 8px;
    background: white;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: .5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 -1px #000000;
    -webkit-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000;
}

    #infobox a:link, a:visited, a:active, a:hover {
        color: white;
    }

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#map_canvas {
    height: 500px;
    width: 900px;
}

.ulConsumerType {
    list-style-type: none;
}

    .ulConsumerType li {
        font-family: Arial, 'Times New Roman';
        font-size: 19px;
        text-align: left;
        letter-spacing:5px;
    }
