@{
    ViewBag.Title = "Index";
   
}

@model GIS.Models.Home.ConsumersModel

<ul>
    @foreach (var cityConsumer in Model.CityConsumers)
    {
        foreach (var location in cityConsumer.Locations)
        {
        <li>@location.Longitude - @location.Latitude </li>
        }
    }
</ul>

<ul>
    @foreach (var cityConsumer in Model.WireConsumers)
    {
        foreach (var location in cityConsumer.Locations)
        {
        <li>@location.Longitude  - @location.Latitude </li>
        }
    }
</ul>
